<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/admin}" th:method="POST" th:object="${person}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="lastName">Enter last name</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" value="OK"/>
    </form>
</body>
</html>