<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Password</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${person.getName()}"/>
        <td th:text="${person.getLastName()}"/>
        <td th:text="${person.getAge()}"/>
        <td th:text="${person.password}"/>
    </tr>
    </tbody>
</table>

<form th:action="@{/logout}" th:method="GET">
    <input type="submit" value="Log out">
</form>
</body>
</html>
