<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>User page</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <strong><span th:text="${user.username}"></span></strong> with roles: <span
            th:each="role : ${user.roles}" th:text="${role.toString() + ' '}"></span></a>
    <a class="nav-link text-secondary" href="/logout"><h5>Logout</h5></a>
</nav>
<div class="container-fluid d-flex flex-column">
    <div class="row" style="height:100vh;">
        <div class="col-2 mt-3 pl-0 pr-0">
            <nav class="nav flex-column nav-pills ">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/admin">Admin</a>
                <a class="nav-link active" href="/user">User</a>
            </nav>
        </div>
        <!-- Admin panel -->
        <div class="col-md-10 mt-3 pl-3 pr-3">
            <h1 class="text-left">
                User information-page
            </h1>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="users" role="tabpanel"
                     aria-labelledby="users-tab">
                    <div class="d-grid gap-5">
                        <div class="p-2 bg-grey border rounded-top">
                            <h5 class="text-left">About user</h5>
                        </div>
                    </div>
                    <div class="d-grid gap-1">
                        <div class="p-2 bg-white border rounded-bottom">
                            </br>
                            <!-- Table -->
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <td th:text="${user.id}">id</td>
                                <td th:text="${user.username}">username</td>
                                <td th:text="${user.name}">name</td>
                                <td th:text="${user.lastName}">lastName</td>
                                <td th:text="${user.age}">age</td>
                                <td>
                                    <span th:each="role : ${user.roles}" th:text="${role.toString() + ' '}"> role </span>
                                </td>
                                </tbody>
                            </table>
                            </br>
                            </br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>